/* * {
    margin: 0;
} */

body,
div {
    margin: 0;
    padding: 0;
}

.frame {
    position: relative;
    /* top: 50px; */
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 500px;

    /* background-color: #533; */
}
.face {
    margin: 250px auto;
    width: 448px;
    height: 448px;
    background-color: #ffb22a;
    border-radius: 51% 49% 46% 54% / 53% 49% 51% 47%;
    box-shadow: 10px 10px 10px grey;
}

.sunglass .left,
.sunglass .right {
    position: absolute;
    top: 48px;
    width: 220px;
    height: 150px;
    background-color: #000;
    border: 10px solid #4a55cb;
    z-index: 1;
}

.sunglass .left {
    left: 0;

    border-radius: 50% 50% 37% 63% / 0% 42% 58% 100%;
}

.sunglass .right {
    right: 0;

    border-radius: 50% 50% 63% 37% / 42% 0% 100% 58%;
}

.shine {
    position: absolute;
    top: 12px;
    right: 25px;
    width: 54px;
    height: 64px;
    background-color: #fff;
    border-radius: 6px 85px 20px 96px;
    box-shadow: 2px 5px 16px 0px #eee;
    box-sizing: border-box;
}

.sunglass .bar {
    position: absolute;
    width: 40px;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #4a55cb;
    z-index: 0;
}

/**/
.mouth {
    position: absolute;
    width: 280px;
    height: 100px;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #eee; */
    /* z-index: 1; */
}

.beard-left,
.beard-right {
    width: 140px;
    height: 80px;
    background-color: #000;
}

.beard-left {
    float: left;
    transform: rotate(-10deg);
    border-radius: 81px 16px 66px 0;
}

.beard-right {
    float: right;
    transform: rotate(10deg);
    border-radius: 16px 81px 0 66px;
}

/* .beard-shine {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 40px;
    background-color: transparent;
    box-shadow: 20px 20px 0 0 #fff;
    border-radius: 10px 10px 10px 10px;
    transform: rotate(30deg);
} */
/**/
.face-shine {
    position: absolute;
    top: 230px;
    left: 76px;
    width: 38px;
    height: 162px;
    /* background-color: #000000; */
    background-color: transparent;
    box-shadow: 20px 20px 0 0 #ffc259;
    border-radius: 50%;
    transform: rotate(160deg);
}

/* .face-shine {
    position: absolute;
    top: 280px;
    left: 80px;
    width: 30px;
    height: 120px;
    /* background-color: #000000; 
    background-color: transparent;
    box-shadow: 20px 20px 0 0 #fbba49;

    border-radius: 50px 50px 50px 50px;
    transform: rotate(-45deg);
} */
